<mat-card class="max-w-3xl mx-auto my-5 text-white">
    <mat-card-header>
        <mat-card-title>Posts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list #posts *ngIf="postsLoaded">
            <div *ngFor="let post of realPosts" class="my-5">
                <app-post-list-item *ngIf="post.visibility == 'public'" [post]=post (forceRefresh)="refreshList($event)"></app-post-list-item>
            </div>
        </mat-list>
        <mat-spinner *ngIf="!postsLoaded"></mat-spinner>
        <div class="w-1/3 mx-auto flex flex-row justify-between">
            <button mat-icon-button (click)="onChangePagePrev()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button (click)="onChangePageNext()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>

