<form class="form-container my-10">
    <mat-card class="max-w-3xl mx-auto">
        <mat-card-header>
            <mat-card-title class="text-white">Create New Post</mat-card-title>
        </mat-card-header>
        <mat-card-content class="flex flex-col justify-center">
            <mat-form-field class="w-full my-2">
                <mat-label>Title</mat-label>
                <input matInput [formControl]="title">
            </mat-form-field>
            <mat-form-field class="w-full my-2">
                <mat-label>Content</mat-label>
                <textarea matInput placeholder="..." [formControl]="content"></textarea>
            </mat-form-field>
            <div class="md-2">
                <mat-checkbox matInput [formControl]="visibility">Public?</mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" class="my-2" (click)="createPost()">Post</button>
        </mat-card-actions>
    </mat-card>
</form>